@charset "utf-8";
/* CSS Document */

#tips * {
	font-size: 12px;
	font-family: ;
}
#tipbj1 {
	background: url(../images/tipbj0.gif) no-repeat left;
}
#tipbj2 {
	background: url(../images/tipbj0.gif) no-repeat right;
}
#tipbj1, #tipbj2 {
	float: left;
	height: 58px;
	width: 6px
}
#tipbg1 {
	background: #EEE url(../images/tipbg1.gif) repeat-x;
	width: auto;
	height: 58px;
	float: left;
	padding-top: 4px;
	line-height: 17px;
	text-align: left;
	font-size: 12px;
}

#tipbg1 a:Link,
#tipbg1 a:Visited,
#tipbg1 a:Acitve {
	color: #000000;
	text-decoration: none;
}
#tipbg1 a:Hover {
	text-decoration: underline;
}
#tips {
	width: auto;
	z-index:2;
	left: 0;
	position: absolute;
}

.content_t2 {
    font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    color: #333;
    line-height: 1.6;
}

.headlines {
    margin-bottom: 24px;
}

.headlines dt a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #e74c3c;
    text-decoration: none;
    padding: 12px 0 8px;
    border-bottom: 2px solid #f1f1f1;
    transition: color 0.2s;
}

.headlines dt a:hover {
    color: #c0392b;
}

.headlines dd {
    margin: 8px 0 0 0;
    padding: 0;
}

.headlines dd a {
    display: block;
    font-size: 15px;
    color: #444;
    text-decoration: none;
    padding: 6px 0;
    border-left: 3px solid #ddd;
    padding-left: 12px;
    transition: all 0.2s;
}

.headlines dd a:hover {
    color: #e74c3c;
    border-left-color: #e74c3c;
    background-color: #fdf9f9;
}

.d_line {
    height: 1px;
    background: linear-gradient(to right, transparent, #eee, transparent);
    margin: 20px 0;
}

/* Responsive mobile */
@media (max-width: 600px) {
    .content_t2 {
        padding: 0 12px;
    }
    
    .headlines dt a {
        font-size: 16px;
        padding: 10px 0 6px;
    }
    
    .headlines dd a {
        font-size: 14px;
        padding: 5px 0 5px 10px;
    }
    
    .d_line {
        margin: 16px 0;
    }
}

a { 
    word-break: break-word; 
}


                        .clearfix {
                            display: block;
                        }

                        .more_a {
                            font-size: 12px;
                            color: #323232;
                            position: absolute;
                            right: 10px;
                            height: 30px;
                            line-height: 28px;
                            font-weight: normal;
                            background: url('/detail/static/images/icon_right.png') no-repeat right center;
                            padding-right: 12px
                        }

                        /* 列表 */
                        .infoUl {
                            padding-bottom: 20px;
                            width: 650px;
                            margin: 0 auto;
                        }

                        .infoUl ul {
                            padding-top: 10px;
                        }

                        .infoUl ul li {
                            border: 1px solid #e8e8e8;
                            padding: 0 20px;
                            background-color: #fff;
                            overflow: hidden;
                            margin-bottom: 10px;
                        }

                        /* 列表顶部 */
                        .infoUl ul .li_top {
                            padding: 14px 0;
                            border-bottom: 1px solid #efefef;
                            overflow: hidden;
                        }

                        .infoUl ul .li_top .a_more {
                            display: block;
                            float: left;
                            min-height: 60px;
                            padding-left: 70px;
                            position: relative;
                        }

                        .infoUl ul .li_top .am_img {
                            height: 60px;
                            width: 60px;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                        .infoUl ul .li_top .am_img img {
                            display: block;
                            width: 60px;
                            height: 60px;
                            position: relative;
                            z-index: 1;
                            -moz-border-radius: 60px;
                            -webkit-border-radius: 60px;
                            -khtml-border-radius: 60px;
                            border-radius: 60px;
                        }

                        .infoUl ul .li_top .am_img em {
                            display: block;
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            z-index: 100;
                            background-image: url(/detail/static/images/level-icon.png);
                            background-repeat: no-repeat;
                            background-position: center center;
                        }

                        .infoUl ul .li_top .p1 {
                            font-size: 0;
                            white-space: nowrap;
                            padding-top: 8px;
                        }

                        .infoUl ul .li_top .p1 b {
                            display: inline-block;
                            vertical-align: top;
                            font-size: 16px;
                            line-height: 24px;
                            color: #333333;
                        }

                        .infoUl ul .li_top .p1 i {
                            display: inline-block;
                            vertical-align: top;
                            font-size: 12px;
                            line-height: 18px;
                            color: #FF8317;
                            padding: 0 10px;
                            border: 1px solid #FF8317;
                            -moz-border-radius: 4px;
                            -webkit-border-radius: 4px;
                            -khtml-border-radius: 4px;
                            border-radius: 4px;
                            margin-top: 2px;
                            margin-left: 10px;
                            font-style: normal;
                        }

                        .infoUl ul .li_top .p_middle {
                            padding-top: 22px;
                        }

                        .infoUl ul .li_top .p2 {
                            font-size: 0;
                            white-space: nowrap;
                            padding-top: 6px;
                        }

                        .infoUl ul .li_top .p2 span {
                            display: inline-block;
                            vertical-align: top;
                            font-size: 14px;
                            line-height: 20px;
                            color: #b3b3b3;
                        }

                        .infoUl ul .li_top .p2 i {
                            display: inline-block;
                            vertical-align: top;
                            font-size: 12px;
                            line-height: 20px;
                            color: #fff;
                            padding: 0 10px;
                            -moz-border-radius: 4px;
                            -webkit-border-radius: 4px;
                            -khtml-border-radius: 4px;
                            border-radius: 4px;
                            margin-left: 10px;
                            background-color: #D41610;
                            font-style: normal;
                        }

                        /* 列表顶部 */
                        .li_info {
                            padding: 12px 0;
                            overflow: hidden;
                            cursor: pointer;
                        }

                        .info_l {
                            float: left;
                        }

                        .info_l .p1 {
                            font-size: 14px;
                            line-height: 22px;
                            color: #b3b3b3;
                            margin-bottom: 10px;
                        }

                        .info_l .p1 i {
                            color: #db323b;
                            display: inline-block;
                            vertical-align: top;
                            padding-left: 10px;
                        }

                        .info_l .p2 {
                            font-size: 0;
                            white-space: nowrap;
                            color: #333333;
                        }

                        .info_l .p2 i {
                            font-style: normal;
                            display: inline-block;
                            vertical-align: top;
                            font-size: 14px;
                            line-height: 20px;
                            border: 1px solid #333;
                            -moz-border-radius: 4px;
                            -webkit-border-radius: 4px;
                            -khtml-border-radius: 4px;
                            border-radius: 4px;
                            margin-right: 10px;
                            padding: 0 10px;
                        }

                        .info_l .p2 span {
                            font-size: 16px;
                            line-height: 22px;
                        }

                        /*右边按钮*/
                        .info_r {
                            float: right;
                            padding-top: 6px;
                            cursor: pointer;
                            position: relative;
                        }

                        .infoUl .btPay {
                            border: 1px solid #D31510;
                            background-color: #D31510;
                            display: block;
                            width: 120px;
                            text-align: center;
                            font-size: 14px;
                            color: #ffffff;
                        }

                        .infoUl .btPayWhiteBg {
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                            background-color: #fff;
                            color: #D31510;
                        }

                        .infoUl .btPayHeightSingle {
                            height: 40px;
                            border-radius: 4px;
                            line-height: 40px;
                        }

                        .infoUl .btMissOut {
                            display: none;
                            line-height: 26px;
                            height: 26px;
                            width: 120px;
                            text-align: center;
                            font-size: 14px;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                            border: 1px solid #D31510;
                            position: absolute;
                            bottom: -16px;
                            background-color: #ffffff;
                            color: #D31510;
                            left: 0;
                            z-index: 100
                        }

                        .infoUl .on {
                            padding-top: 0px
                        }

                        .infoUl .on .btPayHeightSingle {
                            line-height: 30px;
                        }

                        .infoUl .on .btMissOut {
                            display: block;
                        }